.weatherBg{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg") no-repeat center;
 
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align:center
}
.heading{
  color: white;
  font-weight: 700;
}
.weatherResultBox{
  margin: auto;
  width: 20rem;
  height: 20rem;
}
.weatherIcon{
  width: 10rem;
  height: 10rem;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}

@media (max-width:768px) {
  .myInput{
    position: relative;
    right: 50%;
    width: 200%;
  }  
}
@media (min-width:1260px) {
  .weatherBg{
    background-size: 100%;

  }
}